<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form (ngSubmit)="onEdit()" #userForm='ngForm'>

        <div class="form-group">

            <label for="name">Name</label>
            <input type="text" [(ngModel)] = "user.name" class="form-control" id="name" name="name" value="user.name" placeholder="Enter name" disabled required #name = "ngModel">

        </div>

        <div class="form-group">

            <label for="fname">First Name</label>
            <input type="text" [(ngModel)] = "user.fname" class="form-control" id="fname" name="fname" value="user.fname" placeholder="Enter First Name" required #fname = "ngModel">

        </div>

        <div class="form-group">

            <label for="email">Email</label>
            <input type="text" [(ngModel)] = "user.email" class="form-control" id="email" name="email" value="user.email" placeholder="Enter email" required #email = "ngModel">

        </div>

        <div class="form-group">
            <label for="type">Type User</label>
            <select class="form-select" [(ngModel)] = "user.type" id="type" name="type" value="user.type" required #type = "ngModel">
                <option selected disabled>Select type of user</option>
                <option *ngFor="let type of types" value="{{ type.type }}">{{ type.type }}</option>
            </select>
        </div>
       
        <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-success" style="margin-top: 20px;">Edit</button>

    </form>

</body>
</html>
        
